<div class='col-sm-6 col-sm-offset-3'>
    {% if request.user == object.user %}
        <p>Are you sure you want to delete this object?</p>
        # Put your object here (image, text item, etc.)
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" />
            <input type="button" value="Cancel" onclick="window.location='{% url 'hello' %}'"/>
        </form>
    {% else %}
        <h4>You're not allowed to be here.</h4>
        <a href="{% url 'hello' %}">Hello</a>
    {% endif %}
</div>